.loading {
  position: relative;
  min-height: 100px;

  > * {
    visibility: hidden;
  }

  &:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid lighten($primary, 20%);
    border-top: 3px solid $primary;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
